.InfoCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.InfoCard_content {
  border: 2px solid black;
  margin: 5px 10px 5px 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  background-color: #34d399;
  color: white;
}
